/*Journey*/
.journey-home {
  background: linear-gradient(0turn, rgb(12 29 55 / 0.8), rgb(12 29 55 / 0.8)), url(/images/pack.jpg) no-repeat center;
  background-size: cover;
  padding: 64px 0;
  color: #fff;
}
.journey {
  margin: 64px 0;
}
.travel-a {
  background-color: #1f4b8d;
  width: 4px;
  height: 5.5rem;
}
.travel-b {
  background-color: #1f4b8d;
  width: 4px;
  height: 160px;
}