/*packs*/
.packs-home {
  background: linear-gradient(0turn, rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)), url(../../images/pack.jpg) no-repeat center;
  background-size: cover;
  padding: 64px 0;
  color: #fff;
}
.packs {
  margin: 64px 0;
}
.packs-blog{
  box-shadow: 0 0 6px  rgb(0 0 0 / 0.2);
}
.packs-blog h5 {
  font-weight: 700;
  text-transform: uppercase;
}
.packs-blog-a {
  background-color: #fff;
  position: absolute;
  top: -2rem;
  left: 2rem;
  width: 80%;
  height: auto;
  padding: 1rem 2rem;
  box-shadow: 1px 1px 8px  rgb(0 0 0 / 0.5);
}
.packs-icon {
  font-size: 0.65rem;
}
.packs-blog-b {
  padding: 3rem 2rem;
}
.packs-mini-a {
  padding: 0.5rem 1rem;
}
.packs-mini-b {
  border-left: 1px solid;
  padding: 0.5rem 1rem;
}
/*Journey*/
.journey {
  margin: 64px 0;
}
.travel-a {
  background-color: #1f4b8d;
  width: 4px;
  height: 5.5rem;
}
.travel-b {
  background-color: #1f4b8d;
  width: 4px;
  height: 160px;
}